CompileFlags:
  Add: [
    -I../, 
    -I../exception, 
    -I../iterator, 
    -I../node, 
    -I../set, 
    -I../inc/set,
    -I../inc/exception,
    -I../inc/iterator,
    -I../inc/node,
    -std=c++20
  ]
Diagnostics:
  Suppress: "misc-definitions-in-headers"
