CompileFlags:
  Add: [
    -I.,
    -I/usr/include/x86_64-linux-gnu/qt6/QtWidgets,
    -I/usr/include/x86_64-linux-gnu/qt6,
    -I/usr/include/x86_64-linux-gnu/qt6/QtCore,
    -I/usr/lib/x86_64-linux-gnu/qt6/mkspecs/linux-g++,
    -I/usr/include/x86_64-linux-gnu/qt6/QtGui,
    -I../qt/inc,
    -I../inc,
    -std=c++20
  ]
Diagnostics:
  Suppress: ["misc-definitions-in-headers"]
